# Use this file to store passwords to services that your server you use. When
# the server starts, the passwords will be automatically loaded and can be
# accessed from the `session.passwords` field. If you don't have access to a
# session object, passwords can also be accessed from
# `Serverpod.instance.passwords`. You can provide different passwords for
# different run configurations. If you want the same password for any
# configuration used, place it under `shared`.
#
# Note that this file should not be under version control. Store it in a safe
# place.

# Save passwords used across all configurations here.
shared:
  mySharedPassword: 'change-me-mySharedPassword'

# These are passwords used when running the server locally in development mode
development:
  database: 'change-me-database'
  redis: 'change-me-redis'

  # The service secret is used to communicate between servers and to access the
  # service protocol.
  serviceSecret: 'change-me-serviceSecret'

  emailSecretHashPepper: 'change-me-emailSecretHashPepper'
  jwtHmacSha512PrivateKey: 'change-me-jwtHmacSha512PrivateKey'
  jwtRefreshTokenHashPepper: 'change-me-jwtRefreshTokenHashPepper'
  # serverSideSessionKeyHashPepper: '1THK2dRpLZon9ViZLSYuwMG9t5vyn6Yq'

test:
  database: 'change-me-database'
  redis: 'change-me-redis'

  emailSecretHashPepper: 'change-me-emailSecretHashPepper'
  jwtHmacSha512PrivateKey: 'change-me-jwtHmacSha512PrivateKey'
  jwtRefreshTokenHashPepper: 'change-me-jwtRefreshTokenHashPepper'
  # serverSideSessionKeyHashPepper: 'P20cuSmgSIy3v3bfAWQIZOoaeDcUFJka'

# Passwords used in your staging environment if you use one. The default setup
# use a password for Redis.
staging:
  database: 'change-me-database'
  serviceSecret: 'change-me-serviceSecret'

  emailSecretHashPepper: 'change-me-emailSecretHashPepper'
  jwtHmacSha512PrivateKey: 'change-me-jwtHmacSha512PrivateKey'
  jwtRefreshTokenHashPepper: 'change-me-jwtRefreshTokenHashPepper'
  # serverSideSessionKeyHashPepper: 'IjElbphMEBsKcJVRA0oHM5zUtLAW1Bxl'

# Passwords used in production mode.
production:
  database: 'change-me-database'
  serviceSecret: 'change-me-serviceSecret'

  emailSecretHashPepper: 'change-me-emailSecretHashPepper'
  jwtHmacSha512PrivateKey: 'change-me-jwtHmacSha512PrivateKey'
  jwtRefreshTokenHashPepper: 'change-me-jwtRefreshTokenHashPepper'
  # serverSideSessionKeyHashPepper: 'Swua9n4uxk526rDXAeQ-IVUc6nHRWfg4'
